<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>검색 결과</title>
</head>
<body>
<h1>Search Results</h1>

<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Author</th>
    <th>Content</th>
    <th>Category</th>
    <th>Created Date</th>
  </tr>
  </thead>
  <tbody>
  <!-- 검색 결과를 반복해서 표시 -->
  <th:block th:each="result : ${searchResults}">
    <tr>
      <td th:text="${result.id}"></td>
      <td th:text="${result.title}"></td>
      <td th:text="${result.author}"></td>
      <td th:text="${result.content}"></td>
      <td th:text="${result.category}"></td>
      <td th:text="${result.createdDate}"></td>
    </tr>
  </th:block>
  </tbody>
</table>
</body>
</html>
