<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IAMPORT 결제 데모</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- iamport.payment.js -->
    <script src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
</head>
<body>
<div>
    <h2>IAMPORT 결제 데모</h2>
    <ul>
        <li>
            <button id="iamportPayment" type="button">결제테스트</button>
        </li>
    </ul>
</div>

<script>
    $(document).ready(function(){
        $("#iamportPayment").click(function(){
            fetchUserNicknameAndInitiatePayment(); // 버튼 클릭하면 호출
        });
    });

    function fetchUserNicknameAndInitiatePayment() {
        $.get("login/user/nickname", function(data) {
            iamportPayment(data); // 가져온 닉네임으로 결제 요청 함수 호출
        });
    }

    function iamportPayment(userNickname) {
        IMP.init('imp22705083'); // 아임포트 관리자 콘솔에서 확인한 '가맹점 식별코드' 입력

        initiatePayment(userNickname); // 결제 요청 함수 호출 및 사용자 닉네임 전달
    }

    function initiatePayment(userNickname) {
        IMP.request_pay({
            // param
            pg: "html5_inicis", // pg사명 or pg사명.CID (잘못 입력할 경우, 기본 PG사가 띄워짐)
            pay_method: "card", // 지불 방법
            merchant_uid: 'merchant_' + new Date().getTime(), // 가맹점 주문번호
            name: "결제테스트", // 결제창에 노출될 상품명
            amount: 100, // 금액
            buyer_email : "iamport@siot.do",
            buyer_name : userNickname,
            buyer_tel : "010-1234-5678",
            buyer_addr : "서울특별시 강남"
        }, function (rsp) { // callback
            if (rsp.success) {
                alert("[완료] imp_uid : " + rsp.imp_uid + " / merchant_uid : " + rsp.merchant_uid);

                // 결제 완료 후 서버에 데이터 전송
                $.ajax({
                    url: '/payment/callback',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        pg: rsp.pg_provider,
                        payMethod: rsp.pay_method,
                        merchantUid: rsp.merchant_uid,
                        name: rsp.name,
                        amount: rsp.paid_amount,
                        buyerEmail: rsp.buyer_email,
                        buyerName: rsp.buyer_name,
                        buyerTel: rsp.buyer_tel,
                        buyerAddr: rsp.buyer_addr
                    }),
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        console.error(error);
                    }
                });
            } else {
                alert("[실패] 코드(" + rsp.error_code + ") / 메세지(" + rsp.error_msg + ")");
            }
        });
    }

</script>
</body>
</html>