<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IAMPORT 결제 데모</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- iamport.payment.js -->
    <script src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
</head>
<body>
<div>
    <h2>IAMPORT 결제 데모</h2>
    <ul>
        <li>
            <button id="iamportPayment" type="button">결제테스트</button>
        </li>
    </ul>
</div>

<script>
    $(document).ready(function(){
        $("#iamportPayment").click(function(){
            fetchUserNicknameAndInfo();
        });
    });

    function fetchUserNicknameAndInfo() {
        $.get("login/user/nickname", function(nicknameData) {
            $.get("login/user/info", function(infoData) {
                iamportPayment(nicknameData, infoData);
            });
        });
    }

    function iamportPayment(userNickname, userInfo) {
        IMP.init('imp22705083');

        const merchanUid = getUrlParameter('merchanUid');
        const menuName = getUrlParameter('menuName');
        const price = parseInt(getUrlParameter('price'));

        initiatePayment(userNickname, userInfo, merchanUid, menuName, price);
    }

    function initiatePayment(userNickname, userInfo, merchanUid, menuName, price) {
        IMP.request_pay({
            pg: "html5_inicis",
            pay_method: "card",
            merchant_uid: merchanUid,
            name: menuName,
            amount: price,
            buyer_email : userInfo.email,
            buyer_name : userNickname,
            buyer_tel : userInfo.phoneNumber,
            buyer_addr : userInfo.fullAddress
        }, function (rsp) {
            if (rsp.success) {
                alert("[완료] imp_uid : " + rsp.imp_uid + " / merchant_uid : " + rsp.merchant_uid);
                $.ajax({
                    url: '/payment/callback',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        pg: rsp.pg_provider,
                        payMethod: rsp.pay_method,
                        merchantUid: rsp.merchant_uid,
                        name: rsp.name,
                        amount: rsp.paid_amount,
                        buyerEmail: rsp.buyer_email,
                        buyerName: rsp.buyer_name,
                        buyerTel: rsp.buyer_tel,
                        buyerAddr: rsp.buyer_addr
                    }),
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        console.error(error);
                    }
                });
            } else {
                alert("[실패] 코드(" + rsp.error_code + ") / 메세지(" + rsp.error_msg + ")");
            }
        });
    }

    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };
</script>
</body>
</html>
