<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Store</title>
</head>
<body>
<h2>Edit Store</h2>
<form th:action="@{/stores/edit/{companyId}(companyId=${store.companyId})}" th:object="${store}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div>
        <label>업체명:</label>
        <input type="text" th:field="*{name}" />
    </div>
    <div>
        <label>주소:</label>
        <input type="text" th:field="*{address}" />
    </div>
    <div>
        <label>공지사항:</label>
        <input type="text" th:field="*{description}" />
    </div>
    <div>
        <label>가게 전화번호:</label>
        <input type="text" th:field="*{phoneNumber}" />
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>
