<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Info</title>
</head>
<body>
<h1>User Info</h1>
<p>Phone Number: <span th:text="${userInfo.phoneNumber}"></span></p>
<p>Email: <span th:text="${userInfo.email}"></span></p>
<p>Postcode: <span th:text="${userInfo.postcode}"></span></p>
<p>Address: <span th:text="${userInfo.address}"></span></p>
<p>Detail Address: <span th:text="${userInfo.detailAddress}"></span></p>
<p>Extra Address: <span th:text="${userInfo.extraAddress}"></span></p>
<p>Full Address: <span th:text="${userInfo.fullAddress}"></span></p>
</body>
</html>
